<div class="container-fluid">
<div class="btn-group">
  <a href="repair.html.erb" type="button" class="btn btn-primary">Repair</a>
  <a href="repairer.html.erb" type="button" class="btn btn-success">Repairer</a>
</div>
</div>