<div class="container-fluid">
<div class="btn-group">

  <%= link_to "Reparar", repairers_path, class: 'btn btn-primary' %>
  <%= link_to "Reparador", new_repairer_path, class: 'btn btn-primary' %>

</div>
</div>