<div class="container-fluid">
<h1>Editar Categoria: <%=@category.name %> </h1>

<%= render 'form', category: @category %>

<%= link_to 'Mostrar', @category %> |
<%= link_to 'Atras',admin_categories_path %>
</div>